.section-clients {
    background-color: var(--brand-white-color);

    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
      padding-top: 60px;
    padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  
  .clients-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--brand-color);


    @media screen and (min-width: 480px) {
      font-size: 28px;
      }
  
      @media screen and (min-width: 768px) {
        font-size: 28px;
        }
  
        @media screen and (min-width: 1200px) {
          font-size: 36px;
          }



  }
  
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    @media screen and (min-width: 1200px) {
     gap: 25px;
    }
  }
  
  .clients-list-item {
 
  width: 210px;
  height: 92px;

    @media screen and (min-width: 768px) {
      width: 226px;
  height: 92px;
    }
    @media screen and (min-width: 1200px) {
      width: 172px;
  height: 92px;
    }
  }
  
  .clients-list-item:not(:first-child) {
    // margin-left: 30px;
  }
  
  .clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
    transition: color 250ms var(--cubic-animation), border-color 250ms var(--cubic-animation);
    &:hover,
    &:focus {
      color: var(--brand-blue-color);
      border-color: var(--brand-blue-color);
    }
  }
  

  
  .clients-icon {
    fill: currentColor;
  }
  