
.header {
    // padding-top: 24px;
    // padding-bottom: 24px;
    border-bottom: 1px solid #ececec;
  }
  
  .logo-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--brand-blue-color);
    margin-right: 93px;
    display: flex;
  }
  
  .logo-accent1 {
    color: var(--brand-color);
  }
  
  
  .header-list {
    display: flex;
    position: relative;
  }
  
  .header-list:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
position: absolute;

    @media screen and (min-width: 480px) {
      position: absolute;
    }

    @media screen and (min-width: 768px) {
      position: inherit;
      }


    @media screen and (min-width: 1200px) {
      position: inherit;
      }


  }
  
  .header .container {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
  

  
  .header-studio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    text-decoration: none;
    transition: color 250ms var(--cubic-animation);
    display: block;
    padding: 32px 0;
    &:hover {
      color: var(--brand-blue-color);
    }
    &:focus {
      color: var(--brand-blue-color);
    }
  }
  
  .accent-studio {
    color: var(--brand-blue-color);
  }
  
  
  .accent-studio::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--brand-blue-color);
    /* margin-top: 28px; */
    left: 0;
  }
  
  

  
  .header-portfolio {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    color: var(--brand-color);
    text-decoration: none;
    transition: color 250ms var(--cubic-animation);
    display: block;
    padding: 32px 0;
    &:hover {
      color: var(--brand-blue-color);
    }
    &:focus {
      color: var(--brand-blue-color);
    }
  }
  
  .accent-potfolio {
    color: var(--brand-blue-color);
  }
  
  
  
  .accent-potfolio::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--brand-blue-color);
    left: 0;
  }
  
  
  .header-navigation {
    // display: flex;
    // align-items: center;
    // margin-left: auto;
    // @media screen and (min-width: 480px){
      display: none;
      // }

      @media screen and (min-width: 768px) {
        display: flex;
    align-items: center;
    margin-left: auto;
        }


      @media screen and (min-width: 1200px) {
        display: flex;
    align-items: center;
    margin-left: auto;
        }
  }
  
  
  .header-tel-email {
    // @media screen and (min-width: 480px) {
      display:none;
      // }
    @media screen and (min-width: 768px) {
      display: flex; 
      flex-flow: column; 
      // align-items: center;
      gap: 10px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      flex-flow: inherit;
      gap: 0;
    }

  }
  

  .header-item {
    

    @media screen and (min-width: 768px) {
    margin-right: 0;  
    }


    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }
  
  
  
  .header-contacts {
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    text-decoration: none;
    transition: color 250ms var(--cubic-animation);
    &:hover {
      color: var(--brand-blue-color);
    }
    &:focus {
      color: var(--brand-blue-color);
    }
  }
  
  
  .header-email {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-grey-color);
    display: flex;
    align-items: center;
    transition: color 250ms var(--cubic-animation);
    &:hover {
      color: var(--brand-blue-color);
    }
    &:focus {
      color: var(--brand-blue-color);
    }
  }
  
 
  
  .header-tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-grey-color);
    display: flex;
    transition: color 250ms var(--cubic-animation);
    &:hover {
      color: var(--brand-blue-color);
    }
    &:focus {
      color: var(--brand-blue-color);
    }
  }
  
  .header-soc-icon {
    fill: currentColor;
    margin-right: 10px;
  }
  
.header-soc {

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}


  .menu-open-btn {
    display: block;
    margin-left: auto;
    background: white;
    outline: none;
    border: 0;

    @media screen and (min-width: 480px) {
      position: relative;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }



.mob-menu {
  position: fixed;
background-color: white;
z-index: 2;
top: 0;
left: 0;
width:100vw;
height: 100vh;
padding-top: 15px;
padding-bottom: 40px;
.container {
  padding: 0 48px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
}
}





  .menu-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 10px;
    background: white;
    outline: none;
    border: 0;
  }




.header-mob-list:not(:last-child) {
margin-bottom: 32px;
}


.header-mob-studio {
  font-weight: 500;
font-size: 40px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.02em;

color: #2196F3;
text-decoration: none;
}


.header-mob-portfolio {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.header-mob-contacts {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}





.header-mob-item .header-tel{
  font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #2196F3;
text-decoration: none;
}

.header-mob-item {
  font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: #757575;
}


.header-mob-item:not(:last-child) {
  margin-bottom: 32px;
}



.mob-soc-link {
  margin-top: 64px;
  display: flex;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
}



.header-soc-item:not(:last-child) {
  border-right: 1px solid rgba(33,33,33,.2);
    margin-right: -1px;
    padding-right: 10px;
}



.header-insta, .header-twitt, .header-face, .header-linkd{
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
}



