.section-hero {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-Img-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 400px;
    height: 400px;
    margin: 0 auto;

    text-align: center;
    padding: 118px 0px;


    @media screen and (min-width: 480px) {
      max-width: 480px;
    height: 400px;
      padding: 118px 0px;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-Img-mob.jpg);
      }

      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-Img-mob-2x.jpg);
      }



      @media screen and (min-width: 768px) {
        max-width: 768px;
        height: 400px;
        padding: 118px 0px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-Img-tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-Img-tablet-2x.jpg);
      }
        }


        @media screen and (min-width: 1200px) {
          max-width: 1600px;
          height: 600px;
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-Img.jpg);
      padding: 200px 0px;
          @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-Img-2x.jpg);
      }
          }
  }
  



  .title-hero {
    font-family: 'Roboto';
    font-weight: 900;

    width: 190px;
    margin: 0 auto;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    /* or 136% */
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--brand-white-color);
    margin-bottom: 30px;

    @media screen and (min-width: 480px) {
      font-size: 26px;
      line-height: 1.6;
      width: 360px;
      }

      @media screen and (min-width: 768px) {
        // font-size: 26px;
        // line-height: 1.6;
        width: 360px;
        }

        @media screen and (min-width: 1200px) {
          font-size: 44px;
          line-height: 1.4;
          width: 696px;
          }

  }
  
  .btn-hero {
    font-family: 'Roboto';
    font-weight: 700;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--brand-white-color);
    background-color: var(--brand-blue-color);
    transition: color 250ms var(--cubic-animation), background-color 250ms var(--cubic-animation);
      
  &:hover {
    background-color: #188ce8;
  }
 &:focus {
    background-color: #188ce8;
  }


  @media screen and (min-width: 480px) {
    padding: 10px 32px;
    }

    @media screen and (min-width: 768px) {
      padding: 10px 32px;
      }

      @media screen and (min-width: 1200px) {
        padding: 10px 32px;
        }


  }

  